.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
    
    .left {
        display: flex;
        gap: 22px;
        align-items: center;

        span {
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
            color: rgb(39, 17, 232);
        }

        .search {
            display: flex;
            align-items: center;
            gap: 9px;
            border: 1px solid lightgray;
            padding: 4px 5px;
            border-radius: 4px; 

            input {
                border: none;
                width: 500px;
                
                &:focus {
                    outline: none;
                }
            }
        }
    }

    .right {
        display: flex;
        gap: 20px;
        align-items: center;

        .user {
            display: flex;
            align-items: center;
            gap: 6px;
            font-weight: 500;

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }

    .icon {
        cursor: pointer;
    }
}